body{
background:#0e1117;
color:white;
font-family:sans-serif;
padding:20px;
}

h1{
margin-bottom:10px;
}

.panel{
background:#161b22;
padding:15px;
border-radius:10px;
margin-bottom:15px;
font-size:18px;
}

button{

background:#21262d;
border:none;
color:white;

padding:14px 18px;

margin:6px;

border-radius:8px;

cursor:pointer;

display:inline-flex;
align-items:center;

gap:10px;

font-size:16px;

}

button:hover{
background:#30363d;
}

.icon{
height:48px;
}

.comboLine{

font-size:24px;

margin-top:15px;

}

.comboMove{

display:inline-flex;
align-items:center;

margin-right:10px;

gap:6px;

}

.comboMove img{

height:40px;

}

.arrow{

margin:0 8px;

opacity:0.6;

}

.category{

margin-top:25px;

}
