body{

margin:0;
font-family:sans-serif;

}

header{

text-align:center;
border-bottom:2px solid black;
padding:10px;

}

.topMenu{

margin-top:5px;

}

.comboArea{

border-bottom:2px solid black;
padding:10px;
background:#ddd;

}

#combo{

min-height:40px;

}

.jumpMenu{

padding:10px;
border-bottom:2px solid black;

}

.jumpMenu button{

margin:3px;

}

.commandList{

height:400px;
overflow-y:scroll;
padding:10px;

}

.commandList button{

margin:4px;

}

.comboMove{

background:#ccc;
padding:5px 10px;
margin:3px;
display:inline-block;

}
