body{

margin:0;
font-family:sans-serif;

}

header{

text-align:center;
padding:10px;
border-bottom:2px solid black;

}

.comboBox{

background:#ddd;
padding:10px;
border-bottom:2px solid black;

}

#combo{

min-height:40px;

}

.comboButtons button{

margin:5px;

}

.jump{

padding:10px;
border-bottom:2px solid black;

}

.jump button{

margin:4px;

}

.command{

height:400px;
overflow-y:scroll;
padding:10px;

}

.command button{

margin:4px;

}

/* 背景 */

.bg1{background:white;}
.bg2{background:#e8f0ff;}
.bg3{background:#ffe8f0;}
.bg4{background:#e8ffe8;}
.bg5{background:#222;color:white;}
